{% extends 'base.html' %}
{% block title %}
    Index
{% endblock %}
{% block content %}
    <h2>Links</h2>
    <ul>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'exercises:exercise-list' %}">To exercises</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'categories:categories' %}">To categories</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'diets:diet-list' %}">To diets</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'diets:diet-create' %}">Add diet</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'plans:plan-list' %}">To plans</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'plans:plan-create' %}">Add plan</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'users:login' %}">Login panel</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'users:register' %}">Register</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'macro-calc' %}">Calculator</a></li>
        <hr class="widthe">
        <li><a class="btn btn-outline-info widthe" href="{% url 'users:profile' %}">User profile</a></li>
        <hr class="widthe">
    </ul>
{% endblock %}