{% extends 'base.html' %}
{% block title %}
    Exercise list
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Exercises</h1>
            <a href="{% url 'exercises:exercise-create' %}" class="btn btn-primary">Add new Exercise</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in exercises %}
                    <tr>
                        <td>{{ diet.name }}</td>
                        <td>{{ diet.description }}</td>
                        <td>
                            <a href="{% url 'exercises:exercise-detail' exercise.pk %}" class="btn btn-info">Details</a>
                            <a href="{% url 'exercises:exercise-update' exercise.pk %}" class="btn btn-dark">Update</a>
                            <a href="{% url 'exercises:exercise-delete' exercise.pk %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
