{% extends 'base.html' %}
{% block title %}
    Muscle Group list
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Muscle Groups</h1>
            <a href="{% url 'exercises:muscle-group-create' %}" class="btn btn-primary">Add new Muscle Group</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for muscle_group in muscle_groups %}
                    <tr>
                        <td>{{ muscle_group.name }}</td>
                        <td>
                            <a href="{% url 'exercises:muscle-group-update' muscle_group.pk %}" class="btn btn-dark">Update</a>
                            <a href="{% url 'exercises:muscle-group-delete' muscle_group.pk %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
