{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Categories</h1>
            <a href="{% url 'categories:category-create' %}" class="btn btn-primary">Add new Category</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                            <a href="{% url 'categories:category-detail' category.pk %}" class="btn btn-info">Details</a>
                            <a href="{% url 'categories:category-update' category.pk %}" class="btn btn-dark">Update</a>
                            <a href="{% url 'categories:category-delete' category.pk %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
