{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login page
{% endblock %}
{% block content %}

    {% if error %}
    <h3>{{ error }}</h3>
    {% endif %}
    <div class="form-box">
    <form method="post" class="form-signin">
    <h2 class="form-signin-heading p-lower">Please Log in</h2>
        {% csrf_token %}
        {{ form|crispy }}
        <p class="p-lower">Register <a href="{% url 'users:register' %}">new account</a></p>
        <input type="submit" value="Log in" class="btn btn-lg btn-primary form-control">
    </form>
    </div>
{% endblock %}