{% extends 'base.html' %}
{% block title %}
    Sport Types list
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Sport Types</h1>
            <a href="{% url 'exercises:sport-type-create' %}" class="btn btn-primary">Add new Sport Type</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sport_type in sport_types %}
                    <tr>
                        <td>{{ sport_type.name }}</td>
                        <td>
                            <a href="{% url 'exercises:sport-type-update' sport_type.pk %}" class="btn btn-dark">Update</a>
                            <a href="{% url 'exercises:sport-type-delete' sport_type.pk %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
