{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="p-3 mb-2 bg-secondary text-white">

    <div class="container">
    {% block content %}

    {% endblock %}
    </div>

<footer class="footer">
    <div class="container">
    <p class="text-muted">
    {% if user.is_authenticated %}
                logged in <a href="/logout">Log out</a>
            {% else %}
                not logged in <a href="/login">Log in</a>
            {% endif %}
    </p>
    </div>
</footer>
</body>
</html>